body
{
    background-color:palevioletred;
    
}
H1
{
  background-color:aqua;color: fuchsia
 
}
H2
{
  background-color:antiquewhite ; color: blueviolet
 }
H3
{
    background-color:greenyellow;color: chartreuse
}
H4
{
 background-color: aliceblue;  color: cornflowerblue 
}
H5
{
  background-color: blue; color: darkgoldenrod 
}
H6
{
 background-color:darkgreen;color: darkviolet
}