body
{
background-color:skyblue ;
    
}
h1
{
    background-color: aqua;
    color: darkblue;
}
h2
{
    background-color: chartreuse;
    color: crimson;
    
}
h3
{
    background-color: darkblue;
    color: deeppink;
}
