.hi
{
	background-color:red;
	
}
#far
{
	background-color: aqua;
}


.li{
	
	background-color: olive;
	
}
.fr{
	background-color: coral;
}
.zi{
	
background-color: cornflowerblue;
}
.ta{
	background-color: springgreen;
}
.ti{
	background-color: mediumvioletred;
}
.tu{
	background-color: darkcyan;
}
.fu{
	background-color: hotpink;
}
.fi{
	background-color: khaki;
}
.it{
	background-color: yellow;
}
.io{
	background-color: crimson;
}
.ip{
	background-color: darkred;
}
.iu{
	background-color: thistle;
}
.iy{
	background-color: lawngreen;
}
.a{
	background-color: springgreen;
}
.b{
	background-color: dodgerblue;
}
.c{
	background-color: orange;
}
.d{
	background-color: darkolivegreen;
}
.e{
	background-color: darkorange;
}
.f{
	background-color: magenta;
}
.g{
	background-color: greenyellow;
}
.h{
	background-color: gold;
}
.i{
	background-color: red;
}
.j{
	background-color: darkred;
}
.k{
	background-color: darkgreen;
}
.l{
	background-color: cadetblue;
}
.m{
	background-color: blueviolet;
}
.n{
	background-color: aquamarine;
}
table{
	color: green
}





















































































