body
{
background-color:   mediumvioletred;    
}
img{
   color: aquamarine; 

}
h1
{background-color: darkgoldenrod;
    color:red
}
h2
{background-color: green;color:deeppink

}
p1{
   background-color: yellowgreen    
}
h3
{background-color: paleturquoise
}
