body
{
    background: aqua;
}

h1
{
    background-color:yellow;color:saddlebrown
}
p
{
    font:indigo;
}
h3
{
    background-color: orange;color: indigo
}
h4
{
    background: violet;
}
h5
{
    background: red;
}
















h2
{
    background:aqua;
}
p{
    background:purple;
}
h3