body {background: yellow}
img{
	height: 500;
	width: 500;
}	
h1{background: red}
h2{background: green}
h3{background: violet}
h4{background: blue}
h5{background: orange}
h6{background: purple}
p{
	color: brown
		ol{	<li text_color:red>

	}

	