body
{background-color: bisque;
    
    
    
    
}
h1
{background-color: aquamarine;
color:beige}
h2{background-color: blueviolet;}
h3{background-color: coral;}
h4{background-color: darkorchid;}
h5{background-color: fuchsia;}
#linda
{background-color:crimson; }
.h1
{background-color: red;}
.h2
{background-color: yellow;}
.h3
{background-color: green;}
.h4
{background-color:red; }
.h5
{background-color: yellow}
